body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card {
  width: 18rem; float: left; margin: 40px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 253)!important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid.row {
  padding-top: 6rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top{
  transform: scale(1);
}

.BeerListItem-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}


/* .card-img-top:hover{
  transform: scale(1.8);
} */